# This folder is cached between builds
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache
cache:
    paths:
        - node_modules/
        - dist/

build:
    stage: build
    image: node:12
    script:
        - npm install -g license-checker
        - license-checker --failOn 'GPL;LGPL;EPL-1.0;EPL-2.0;CPL-1.0' --exclude 'MIT,BSD,ISC,Apache-2.0,CC0-1.0,Artistic-2.0'
        - yarn install
        - yarn build

test:
    stage: test
    image: node:12
    script:
        - yarn test

publish:
    only:
        - tags
    image: node:12
    stage: deploy
    script:
        - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > .npmrc
        - yarn docs
        - npm publish --access public
